<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GProject"
        tools:targetApi="31">
<!--        <activity-->
<!--            android:name=".login.login"-->
<!--            android:exported="true"/>-->
        <activity
            android:name=".login.regist"
            android:exported="true"/>
        <activity
            android:name=".reading.R_judge"
            android:exported="true"/>
<!--        <activity-->
<!--            android:name=".WordQuizActivity"-->
<!--            android:exported="true"/>-->
        <activity
            android:name=".meaning.ShowMeaning"
            android:exported="true"/>
        <activity
            android:name=".WordListActivity"
            android:exported="true"/>
        <activity
            android:name=".reading.R_blank"
            android:exported="true"/>
        <activity
            android:name=".reading.R_chose"
            android:exported="true"/>
        <activity
            android:name=".reading.R_match"
            android:exported="true"/>
        <activity
        android:name=".ChoseTestActivity"
        android:exported="true"/>
<!--        <activity-->
<!--            android:name=".reading.R_topic"-->
<!--            android:exported="true"/>-->
        <activity
            android:name=".WordCard.WordCardActivity"
            android:exported="true"/>
        <activity
            android:name=".WordQuiz.LevelCQuizActivity"
            android:exported="true"/>
        <activity
            android:name=".WordQuiz.LevelBQuizActivity"
            android:exported="true"/>
        <activity
            android:name=".WordQuiz.LevelAQuizActivity"
            android:exported="true"/>
        <activity
            android:name=".reading.R_topic"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>